body {
	margin: 40px auto;
	max-width: 650px;
	line-height: 1.6;
	font-family: 'Roboto', sans-serif;
	font-size: 23px;
	color: #424242;
	background-color: #EEEEEE;
	padding: 0 10px;
}
h1,h2,h3 {
	line-height: 1.2;
}
p {
	opacity: 0.7;
}
body .syntaxhighlighter code, body .syntaxhighlighter .gutter {
    line-height: 1.8!important;
    font-size: 18px!important;
    font-family: 'Source Code Pro', monospace!important;
}
img {
    height: auto; 
    width: auto; 
    max-width: 100%; 
}
